@font-face {
    src: url("/static/fonts/berkeley-mono/regular.woff2");
    font-family: "Berkeley Mono";
    font-weight: 400;
}

@font-face {
    src: url("/static/fonts/berkeley-mono/italic.woff2");
    font-family: "Berkeley Mono";
    font-weight: 400;
    font-style: italic;
}

@font-face {
    src: url("/static/fonts/berkeley-mono/bold.woff2");
    font-family: "Berkeley Mono";
    font-weight: 700;
}

@font-face {
    src: url("/static/fonts/berkeley-mono/bold-italic.woff2");
    font-family: "Berkeley Mono";
    font-weight: 700;
    font-style: italic;
}
